{
  "globals": {
    "afterAll": true,
    "afterEach": true,
    "beforeAll": true,
    "beforeEach": true,
    "expect": true,
    "jest": true
  },
  "env": {
    "browser": false,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "extends": "standard",
  "plugins": [
    "standard",
    "promise"
  ],
  "rules": {
    "indent": 0,
    "prefer-promise-reject-errors": 0,
    "comma-dangle": ["error", "always-multiline"]
  }
}