
body {
    font-family: 'Arvo', serif;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}

#htmlwidget_container {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
}

h2 {
    margin: 10px;
}

h2.hidden {
    display: none;
}

pre.config {
    margin: 5px;
}

[snapshot-name], [snapshot-name].row {
    display: inline-block;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.hide-config .config {
    display: none;
}

.for-consideration .inner-example {
    border: 4px dashed red;
}

.example {
    align-self: flex-end;
    flex: 0 0 auto;
    margin: 10px;
    /*border: 1px dashed dimgrey;*/
}

.no-border .inner-example {
    border: none;
}

.inner-example {
    border: 1px dashed dimgrey;
    margin-left: auto;
    margin-right: auto;
}

.relative-resize-button {
    margin: 5px;
}

.code {
    font-size: x-small;
    background-color: #eeeeee;
    opacity: 0.6;
    border: #cccccc 1px solid;
    border-radius: 2px;
    font-weight: 200;
    font: Arial;
}

.note {
    font-size: x-small;
    font-weight: 200;
    font: Arial;
}

.emphasis {
    font-weight: 900;
    font: Arial;
}
