.node rect {
  cursor: pointer;
}

.nodeRect {
  fill: #ddd;
  stroke: #ddd;
  pointer-events: all;
}

.node text {
  cursor:default;
  font-size:10px; 
  font-family:sans-serif;
}

.nodeTextBackgroundRect {
  fill: white;
  opacity: 0.5;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.svg-container {
    display: inline-block;
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%; /* aspect ratio */
    vertical-align: middle;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    top: 0;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.d3-tip {
    background-color: #333;
    border: none;
    pointer-events: none;
    border-radius: 2px;
    color: #efefef;
    font-size: 12px;
    padding: 4px;
    font-family: sans-serif;
}

.tipTruncatedTextContainer {
    width: 200px;
    display: block;
    background-color: #333;
    font-family: sans-serif;
    color: #efefef;
    font-size: 12px;
    margin: 2px;
}

.tipTableContainer {
    display: block;
    background-color: #333;
    font-family: sans-serif;
    color: #efefef;
    font-size: 12px;
    margin: 2px;
    white-space: nowrap;
}

.tipTable {
    margin: 0 auto;
    border-collapse: collapse;
    border: 0;
    vertical-align: middle;
    padding:0;
    font-family: sans-serif;
    color: #efefef;
    font-size: 12px;
}

.tipTextAfterTable {
    text-align: center;
    font-family: sans-serif;
    margin-top: 4px;
    white-space: nowrap;
}


.tipDClassification {
    margin: 0;
    border-collapse: collapse;
    border: 0;
    vertical-align:middle;
    text-align:left;
    padding: 0 2px 0 2px;
    font-family: sans-serif;
}

.tipDClassification.num {
    text-align:right;
}

td.tipColumn {
    margin: 0;
    border-collapse: collapse;
    border: 0;
    vertical-align:bottom;
    padding:0;
    font-family: sans-serif;
    color: #efefef;
    font-size: 12px;
}

.regressionTipSection {
    width:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.regressionTipSection.blue {
    background-color: steelblue;
}

.regressionTipSection.transparent {
    background-color: transparent;
}

.regressionTipSection.leftDash {
    border-left: 1px dashed #efefef;
}

.regressionTipSection.rightDash {
    border-right: 1px dashed #efefef;
}

.regressionTipSection.topDash {
    border-top: 1px dashed #efefef;
}

.tipTriangleN {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #333;
	font-size: 0;
	line-height: 0;
	position: absolute;
}

.tipTriangleS {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #333;
    font-size: 0;
    line-height: 0;
    position: absolute;
}